.otherIconsContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.avatarContainer{
    margin: 0 1rem;
    cursor:pointer;
}

.avatarContainer > .MuiAvatar-root{
    width: 30px;
    height:30px;
    
}
