.otherIcons__container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.languageIcon{
    margin-right: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.languageIcon > .MuiSvgIcon-root{
    color:#636466;
    width: 30px;
    height:30px;
}
.otherIcons__container > .MuiButton-root{
    text-align: center;
    background-color: #f35b04;
    color: white;
    text-transform: capitalize;
    height: 2rem;
    border-radius: 3.5rem;
}
.otherIcons__container > .MuiButton-root:hover{
    background-color: #ce5916;
    
}

@media all and (max-width: 1015px){
    .otherIcons__container > .MuiButton-root{
        font-size: 0.7rem;
        width: 6rem;
        height: 1.8rem;
    }
}